.st_ui_dialog_wrapper {
	position: absolute;
	top: 100px;
	left: 50%;
	z-index: 9;
	min-width: 100px;
}

/* custom */
.st_ui_dialog_wrapper {
    min-width: 300px;
}

.st_ui_dialog_header {
}

.st_ui_dialog_body {
	padding: 20px;
    background: #fff;
}

.st_ui_dialog_footer {
	border-top: 1px #dedede solid;
}

.st_ui_dialog_button {
	background-color: #f9f9f9;
	padding: 10px;
}

.btn_color {
	display: inline-block;
	padding: 5px 10px;
	background-color: #225599;
	color: #fff;
	text-decoration: none;
	margin: 0px 5px;
}